c5dw_jsGNBk_1.json
{
  "name": "Crawl4AI Web Scraper - Basic",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse HTML content\nconst html = $input.first().json.data;\n\n// Extract basic information\nconst titleMatch = html.match(/<title>(.*?)<\\/title>/);\nconst title = titleMatch ? titleMatch[1] : 'No title found';\n\n// Extract all links\nconst linkMatches = html.matchAll(/<a[^>]+href=\"([^\"]+)\"[^>]*>(.*?)<\\/a>/gi);\nconst links = [];\n\nfor (const match of linkMatches) {\n  links.push({\n    url: match[1],\n    text: match[2].replace(/<[^>]*>/g, '')\n  });\n}\n\n// Extract meta description\nconst metaMatch = html.match(/<meta[^>]*name=\"description\"[^>]*content=\"([^\"]+)\"/i);\nconst description = metaMatch ? metaMatch[1] : 'No description found';\n\nreturn {\n  title,\n  description,\n  links: links.slice(0, 10), // First 10 links\n  totalLinks: links.length,\n  scrapedAt: new Date().toISOString()\n};"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Parse HTML Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse HTML Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML Content": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-18T17:52:00.000Z",
  "versionId": "1"
}
